*.pem
coverage
node_modules
package-lock.json
dist

# Standard junk files
.DS_Store
*.swp
*.swo
*.pyc
*.pyo
*.class
*.o
*.obj
Thumbs.db
desktop.ini
*.log
.terraform
.ipynb_checkpoints
/.history/
/bin/
/obj/
_build
/logs/
/log/
/tmp/
/temp/
.serverless
.expo
.expo-shared
.docusaurus
.angular
.svelte-kit
Pods
DerivedData
